@use "../global" as *;

.section--about {
  padding: rem(80) 0;
}

.about__text {
  font-size: clp(16);
  line-height: 1.5;
  width: calc(656 / 1440 * 100%);
}
.about__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: rem(20);
}
.about__sub-title {
  font-size: rem(32);
  font-weight: bold;
  margin-bottom: rem(85);
  line-height: 1.5;
}
.section__title--about {
  max-width: rem(606);
}
.about__title--top {
  width: calc(457 / 606 * 100%);
  margin-bottom: rem(1);
}
.about__title--bottom {
  width: 100%;
}
.abtou__description {
  font-size: rem(22);
  line-height: 2.26;
  font-weight: $bold;
  letter-spacing: -0.07em;
}
.about__paragragh:not(:last-child) {
  margin-bottom: rem(44);
}
@include mq(md) {
  .about__flex {
    flex-direction: column;
  }
  .about__text {
    width: 100%;
  }
}