@use "../global" as *;

.section--faq {
  padding: rem(80) 0;
}

.section__inner.section__faq--inner {
  max-width: calc(1200px + ($padding-pc * 2));
}

.section__title.section__title--faq {
  color: $color-theme;
  margin-bottom: rem(80);
  font-size: rem(80);
  text-align: center;
}

.faq__body {
  width: 100%;
}

.faq__item {
  border-bottom: 1px solid #D0DBEB;
}

.faq__question,
.faq__answer {
  display: flex;
  font-size: rem(18);
  padding: rem(30) rem(32);
}
.faq__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(60);
  height: rem(60);
  flex-shrink: 0;
  font-weight: $bold;
  font-size: 32px;
  margin-right: rem(24);
  border-radius: 50%;
}
.faq__question .faq__icon {
  background-color: $color-theme;
  color: $color-white;
}
.faq__answer .faq__icon {
  background-color: #F3F7FF;
  color: $color-theme;
}

.faq__question {
  font-weight: $bold;
  cursor: pointer;
  position: relative;
  padding-right: rem(20);
  padding-bottom: rem(29);
  align-items: center;
}

.faq__question::after {
  position: absolute;
  content: "";
  display: block;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 2px;
  background-color: #0D46A0;
}

.faq__question::before {
  position: absolute;
  content: "";
  display: block;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 20px;
  background-color: #0D46A0;
  transition: all .3s;
}

.faq__answer {
  margin-top: rem(4);
  display: none;
  background-color: #fff;
  padding: rem(30) rem(32) rem(45);
}

.faq__answer .faq__description {
  padding-top: rem(15);
}
.faq__item.is-open {
  .faq__answer {
    display: flex;
  }
  .faq__question::before {
    transform: translateY(-50%) rotate(270deg);
  }
}

@include mq(md) {
  .section__title.section__title--faq {
    font-size: rem(32);
    margin-bottom: rem(32);
  }
  .faq__question, .faq__answer {
    font-size: rem(16);
    padding: rem(16) rem(20);
  }
  .faq__icon {
    width: rem(32);
    height: rem(32);
    font-size: rem(20);
    margin-right: rem(16);
  }
  .faq__question {
    padding-right: rem(16);
    padding-bottom: rem(16);
    padding-left: 0;

  }
  .faq__question::after {
    right: rem(2);
  }
  .faq__question::before {
    right: rem(12);
  }
  .faq__description {
    font-size: rem(16);
  }
  .faq__answer {
    font-size: rem(16);
    padding: rem(16) rem(20);
  }
  .faq__answer .faq__description {
    padding-top: rem(8);
  }
}