@use "../global" as *;
.header {
  color: $color-black;
  font-size: rem(26);
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}

.inner.header__inner {
  max-width: 1864px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(36) rem(20);
}
.header__logo {
  max-width: rem(207);
  width: 100%;
}
.header__logo-link {
  font-family: $second-font-family;
  font-weight: $bold;
  font-size: clp(32);
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav__item + .nav__item {
  margin-left: rem(40);
}
.nav__item + .nav__item.nav__link--primary{
  margin-left: rem(32);
}

.nav__link {
  display: inline-block;
  text-transform: uppercase;
  font-family: $second-font-family;
  font-weight: $bold;
  color: #121212;
}

.nav__link--primary {
  background-color: $color-theme;
  color: $color-white;
  border-radius: rem(2);
  padding: rem(2) rem(36);
  line-height: 1;
  display: inline-block;
}