@use "../global" as *;

// セクション全体
.section--interview {
  width: 100vw;
  background: linear-gradient(49deg, #1061AB 0%, #2EA2E0 100%);
  padding: 80px 0;
  max-width: 100vw;
  margin-left: calc(50% - 50vw);
}

.section__inner {
  position: relative;
}

.section__title {
  color: #fff;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}

.interview__title-group {
  text-align: center;
  margin-bottom: rem(40);
}

.interview__title-sub {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
}

.interview__body {
  max-width: 900px;
  margin: 0 auto;
}

.interview-swiper {
  padding-bottom: 40px;
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(50% - 50vw) !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  width: 100%;
}

.interview__item {
  width: 340px;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    background: linear-gradient(
      0deg,
      rgba(16, 97, 171, 0.6) 0%,
      rgba(37, 45, 47, 0) 70%
    );
  }
}

.interview__item-image {
  display: block;
}
.interview__item-image img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.interview__item-text {
  padding: 16px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: left;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.interview__name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #0058B4;
}

.interview__experience {
  font-size: 14px;
}

.interview__comment {
  margin-top: rem(10);
}

.swiper-pagination {
  bottom: 0 !important;
}

.interview__swiper-pagination {
  margin-top: 24px;
  gap: 16px;
  position: absolute;
  top: 0;
  right: 0;
}

.swiper-button-prev-interview,
.swiper-button-next-interview {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #fff;
  color: #1061AB;
  box-shadow: 0 2px 8px rgba(0,0,0,0.10);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: background 0.2s;
  border: none;
}

.swiper-button-prev-interview:hover,
.swiper-button-next-interview:hover {
  background: #1061AB;
  color: #fff;
}

.swiper-button-prev-interview::after,
.swiper-button-next-interview::after {
  font-size: 20px;
}

.swiper-button-prev-interview {
  left: 0;
}

.swiper-button-next-interview {
  right: 0;
}


@media (max-width: 600px) {
  .interview__item {
    width: 90vw;
    padding: 24px 8px;
  }
  .interview__body {
    max-width: 100%;
  }
}