@use "../global" as *;

// セクション全体
.section--interview {
  width: 100vw;
  background: linear-gradient(49deg, #1061AB 0%, #2EA2E0 100%);
  padding: 80px 0;
}

.section__inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.section__title {
  color: #fff;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}

.interview__title-group {
  text-align: center;
  margin-bottom: rem(40);
}

.interview__title-sub {
  color: #fff;
  font-size: 16px;
  text-align: center;
  margin-bottom: 50px;
}

.interview__body {
  max-width: 900px;
  margin: 0 auto;
}

.interview-swiper {
  padding-bottom: 40px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.interview__item {
  width: 340px;
  border-radius: 16px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.3s;
  text-align: center;
  margin-top: rem(40);
  padding: 40px 32px 32px 32px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 1;
    background: linear-gradient(
      0deg,
      rgba(16, 97, 171, 0.6) 0%,
      rgba(37, 45, 47, 0) 70%
    );
  }
}

.interview__item-image img {
  width: 100%;
  display: block;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #089BE9;
  box-shadow: 0 2px 8px rgba(0, 112, 197, 0.12);
}

.interview__item-text {
  padding: 16px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: left;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.interview__name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #0058B4;
}

.interview__experience {
  font-size: 14px;
}

.interview__comment {
  margin-top: rem(10);
}

.swiper-pagination {
  bottom: 0 !important;
}

@media (max-width: 600px) {
  .interview__item {
    width: 90vw;
    padding: 24px 8px;
  }
  .interview__body {
    max-width: 100%;
  }
}