@use "../global" as *;

.section--kv {
  background: url('../image/KV_bg.jpg') no-repeat center/cover;
  text-align: center;
  color: $color-white;
  padding: rem(100) 0;
}

.kv__text {
  max-width: rem(600);
  margin: 0 auto;
}

.kv__text--sub {
  margin-top: rem(20);
  font-size: clp(18);
}
