@use "../global" as *;

.section--numbers {
  padding: rem(80) 0;
  background-color: $color-bg_gray;
}

.section__title.section__title--numbers {
  text-align: left;
  font-size: rem(36);
  margin-bottom: 0;
  letter-spacing: 0.03em;
  color: $color-black;
  font-weight: 900;
}
.section__title.section__title--numbers span {
  font-family: $second-font-family;
}

.section__title-sub.section__title-sub--numbers {
  font-size: rem(20);
  color: $color-theme;
  margin-bottom: rem(17);
  letter-spacing: -0.02em;
  text-transform: uppercase;
  font-family: $second-font-family;
  line-height: 0.82;
}

.numbers__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 40px;
  text-align: center;

  @media (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 480px) {
    grid-template-columns: 1fr;
  }
}

.numbers__item {
  background: linear-gradient(180deg,#fff 0%,#F3F7FF 100%);
  border-radius: 4px;
  padding: 26px 23px;
  display: flex;
  flex-direction: column;

  .numbers__label {
    font-size: rem(24);
    font-weight: bold;
    color: #1061AB;
    margin-bottom: 18px;
    letter-spacing: 0.05em;
    align-self: flex-start;
  }

  .numbers__value {
    font-size: rem(32);
    font-weight: bold;
    line-height: 1;
    color: $color-theme;
    align-self: flex-end;
  }
  .numbers__value span {
    font-size: 115px;
    background: linear-gradient(180deg, #0058B4 0%, #0070C5 50%, #089BE9 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    line-height: 0.87;
    letter-spacing: -0.02em;
    font-family: $second-font-family;
  }

  .numbers__desc {
    font-size: 32px;
    color: #1061AB;
    font-weight: 700;
    margin-top: 0;
  }
}
@include mq(md) {
  .section__title.section__title--numbers {
    font-size: rem(32);
  }
  .numbers__item .numbers__label {
    font-size: rem(16);
  }
  .numbers__value {
    font-size: rem(24);
  }
  .numbers__item .numbers__value span {
    font-size: rem(60);
  }
}