@use "../global" as *;

.page-top {
  position: fixed;
  bottom: rem(40);
  right: rem(40);
  z-index: 9;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  transform: translateY(rem(20));
  color: $color-theme;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(10);
  min-width: rem(120);
  
  &.visible {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
  
  &:hover {
    transform: translateY(rem(-4));
    box-shadow: 0 rem(8) rem(24) rgba(16, 97, 171, 0.3);
  }
}

.page-top__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(19);
  img {
    width: 100%;
    display: block;
  }
}

.page-top__text {
  font-size: rem(16);
  font-weight: bold;
  letter-spacing:0 ;
  line-height: 1;
  text-align: center;
  line-height: 1.2;
  font-family: $second-font-family;
}

@include mq(md) {
  .page-top {
    bottom: rem(20);
    right: rem(20);
    min-width: rem(100);
    gap: rem(10);
  }
  
  .page-top__arrow {
    width: rem(19);
  }
  
  .page-top__text {
    font-size: rem(16);
  }
}
