@use "../global" as *;

.section {
  padding: rem(80) 0;
}

.section__title {
  font-family: $second-font-family;
  font-size: clp(24);
  text-align: center;
  color: $color-theme;
  margin-bottom: rem(40);
  font-weight: normal;
  text-transform: uppercase;
}
