@use "../global" as *;

.section--work-style {
  padding: rem(80) 0;
  background-color: $color-bg_gray;
}

.work-style__text {
  margin-top: rem(20);
  font-size: clp(16);
  line-height: 1.8;
}

.work__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.work__item {
  background: linear-gradient(45deg, #0058B4 0%, #0070C5 50%, #089BE9 100%);
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 345px;
  height: 345px;
  box-sizing: border-box;

  &-number {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
    color: transparent;
    -webkit-text-stroke: 2px #fff;
    -webkit-text-fill-color: transparent;
    display: inline-block;
  }

  &-text {
    margin-bottom: 10px;

    &-head {
      font-weight: bold;
      margin-bottom: 5px;
      font-size: rem(24);
    }

    &-description {
      font-size: rem(15);
    }
  }

  &-image {
    margin-top: auto;
    margin-left: auto;
    img {
      width: 50px;
      height: 50px;
    }
  }
}
.work-style__head-en {
  font-size: rem(20);
  color: $color-theme;
  font-family: $second-font-family;
  letter-spacing: -0.02em;
  line-height: 0.82;
  margin-bottom: rem(20);
}
.work-style__head-ja {
  font-weight: $bold;
  font-size: rem(36);
  line-height: 1; 
  letter-spacing: 0.03em;
}
.work-style__head-ja span {
  letter-spacing: -0.23em;
}
.work-style__head-group {
  margin-bottom: rem(47);
}