@use "sass:math";

// ブレイクポイント
$breakpoints: (
  md: 767,
  lg: 959,
);

// メディアクエリー
$mediaquerys: (
  md: "screen and (max-width: #{map-get($breakpoints,'md')}px)",
  lg: "screen and (max-width: #{map-get($breakpoints,'lg')}px)",
);

// @include mq(){}で書くとブレークポイントが反映される（初期値はmd）
@mixin mq($mediaquery: md) {
  @media #{map-get($mediaquerys, $mediaquery)} {
    @content;
  }
}

// remへの計算式（16pxを基準としている。10pxを基準とする場合は16を10に変更する）
@function rem($pixels) {
  @return math.div($pixels, 16) * 1rem;
}

// 単位を除去
@function strip-unit($number) {
  @if type-of($number) == "number" and not unitless($number) {
    @return math.div($number, $number * 0 + 1);
  }
  @return $number;
}

// vw換算
@function vw($window_width, $font_size) {
  @return math.div($font_size, $window_width) * 100vw;
}

// 画面幅の変数を定義
$minWindow: 375;
$maxWindow: 1210;

// クランプによる流動的フォントサイズ
@function clp($base_font) {
  @return clamp(
    $base_font * 0.625 * 0.1rem,
    ($base_font * 0.625 * 0.1rem) + math.div($base_font * 0.15, $maxWindow - $minWindow) * (100vw - $minWindow * 1px),
    $base_font * 0.625 * 0.115rem
  );
}

// フォントファミリー
$base-font-family:  "Noto Sans JP", sans-serif;
$second-font-family: "Bebas Neue", sans-serif;

// フォントウェイト
$bold : 700;
$normal : 400;
$light : 300;

// カラーパレット
$color-black: #000000;
$color-white: #ffffff;
// プライマリーブルー（テーマカラー）
$color-theme: #025CB4;
// アクセントレッド
$color-red: #6F4C4C;
// セクション背景用ライトブルー
$color-bg_gray: #F3F8FE;
// テキスト用メイングレー
$color-main_gray: #333333;

// レイアウト幅
$inner: 1440px;

// パディング設定
$padding-pc: rem(25);
$padding-sp: rem(15);

// ————————————————————————
// グラデーション定義

// 背景用グラデーション（45度）
$gradient-bg-45: linear-gradient(
  45deg,
  #0058B4 0%,
  #0070C5 50%,
  #089BE9 100%
);

// “エンジニア”テキスト用グラデーション（水平方向）
$gradient-text-engineer: linear-gradient(
  90deg,
  #0053A2 0%,
  #0070C5 50%,
  #0990D8 100%
);